name: sparks-server-deployment
include:
  - stacks/docker-compose.authentik.yml
  - stacks/docker-compose.code.yml
  - stacks/docker-compose.syncthing.yml
  - stacks/docker-compose.monitoring.yml
services:
  traefik:
    image: traefik:v3.6.1@sha256:fd5932c796f7e2db9fd6bff485ef693d53797f0ee8ad03dc68aa424ea6f21958
    container_name: traefik
    volumes:
      - ${DATA_DIR}/letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    secrets:
      - cloudflare_dns_api_token
      - cloudflare_zone_api_token
    environment:
      CF_DNS_API_TOKEN_FILE: /run/secrets/cloudflare_dns_api_token
      CF_ZONE_API_TOKEN_FILE: /run/secrets/cloudflare_zone_api_token
    ports:
      - '0.0.0.0:80:80'
      - '0.0.0.0:443:443'
    command:
      - '--global.sendAnonymousUsage=false'
      - '--api.insecure=true'
      - '--api.dashboard=true'
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'
      - '--entrypoints.http.address=:80'
      - '--entrypoints.http.http.redirections.entrypoint.to=https'
      - '--entrypoints.http.http.redirections.entrypoint.scheme=https'
      - '--entrypoints.https.address=:443'
      - '--entrypoints.https.http.tls=true'
      - '--entrypoints.https.http.tls.certResolver=letsencrypt'
      - '--entrypoints.https.http.tls.domains[0].main=dev.${HOST}'
      - '--entrypoints.https.http.tls.domains[0].sans=*.dev.${HOST}'
      - '--entrypoints.https.http.tls.domains[1].main=${HOST}'
      - '--entrypoints.https.http.tls.domains[1].sans=*.${HOST}'
      - '--certificatesresolvers.resolver.acme.dnschallenge=true'
      - '--certificatesresolvers.resolver.acme.dnschallenge.provider=cloudflare'
      - '--certificatesresolvers.resolver.acme.email=${ADMIN_MAIL}'
      - '--certificatesresolvers.resolver.acme.storage=/letsencrypt/acme.json'
      - '--certificatesresolvers.resolver.acme.dnschallenge.resolvers=1.1.1.1,1.0.0.1'
      - '--serversTransport.insecureSkipVerify=true'
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.api.entrypoints: https
      traefik.http.routers.api.rule: Host(`traefik.${HOST}`)
      traefik.http.routers.api.tls.certresolver: resolver
      traefik.http.services.traefik.loadbalancer.server.port: 8080
    hostname: traefik
secrets:
  cloudflare_dns_api_token:
    file: ./.secrets/cloudflare_dns_api_token
  cloudflare_zone_api_token:
    file: ./.secrets/cloudflare_zone_api_token
  smtp_password:
    file: ./.secrets/smtp_password
