name: code
services:
  code-server:
    image: lscr.io/linuxserver/code-server:4.105.1-ls304@sha256:f01693e529a6c4db98deb4bb28bf2655a403489831e962e6cc0b2c5f89f220f6
    container_name: code-server
    volumes:
      - ${DATA_DIR}/code:/config
      - workspaces:/workspaces
      - /var/lib/code-docker:/var/lib/docker
    secrets:
      - code_sudo_password
    environment:
      - PUID
      - PGID
      - TZ
      - DEFAULT_WORKSPACE=/workspaces
      - >-
        DOCKER_MODS=linuxserver/mods:code-server-python3@sha256:07284400ff0ea6e3721341de91f3edadf61415e5d7ef59e8a87fc3f2bb0c542c| linuxserver/mods:universal-docker-in-docker-29.0.0-2.40.3@sha256:78dccf67f40e6686cee4fd24398a8bc1dcc80227368800814210a5aba8e7f49b| linuxserver/mods:code-server-shellcheck@sha256:9ce2181a76e274da9bf256661df679cfbb2c220b924a129ce2d65949666dda6f| linuxserver/mods:code-server-nodejs@sha256:7c5f564f56b038e2d70ac21840ea5d83abe3c0400aee467b7aad9c20bc8f7c95| linuxserver/mods:code-server-php-cli@sha256:5c417f8abce4c46f64cbe84f8c34e4ad7431dfb96ff376b926dd6694ad771c11| ghcr.io/ben-pearce/code-server-custom:v0.0.3@sha256:f363122b19f5de6c729ecc912ebd16e2f9b4f59a4fd4d5ec0dd532ee7ab874aa
      - NODEJS_MOD_VERSION=20
      - ENABLE_COMPOSER=yes
      - PHP_VERSION=8.3
      - PHP_EXTENSIONS=simplexml|gd|zip|xml|curl
      - MODS_DIND_PERSISTENCE=/var/lib/docker
      - FILE__SUDO_PASSWORD_HASH=/run/secrets/code_sudo_password
    restart: unless-stopped
    labels:
      readme.description: VS Code in the browser
      readme.links.github: https://github.com/coder/code-server
      traefik.enable: true
      traefik.http.routers.code-server.entrypoints: https
      traefik.http.routers.code-server.middlewares: authentik
      traefik.http.routers.code-server.rule: Host(`code.${HOST}`)
      traefik.http.routers.code-server.tls.certresolver: resolver
      traefik.http.services.code-server.loadbalancer.server.port: 8443
    hostname: sparks
    privileged: true
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:2.13.3@sha256:1213d6121fa98e7bff0521f002d409d20c3fa7c1c5fe4adf7e3328d27ab111a3
    container_name: nginx-proxy-manager
    volumes:
      - ${DATA_DIR}/nginx-proxy-manager:/data
      - ${DATA_DIR}/letsencrypt:/etc/letsencrypt
    restart: unless-stopped
    labels:
      readme.description: Expose your services easily and securely
      readme.links.website: https://nginxproxymanager.com/
      traefik.enable: true
      traefik.http.routers.nginx-proxy-manager.entrypoints: https
      traefik.http.routers.nginx-proxy-manager.middlewares: authentik
      traefik.http.routers.nginx-proxy-manager.rule: Host(`dev.${HOST}`)
      traefik.http.routers.nginx-proxy-manager.tls.certresolver: resolver
      traefik.http.routers.nginx-proxy-manager.service: nginx-proxy-manager
      traefik.http.services.nginx-proxy-manager.loadbalancer.server.port: 81
      traefik.http.routers.nginx-proxy-manager-hosts.entrypoints: https
      traefik.http.routers.nginx-proxy-manager-hosts.rule: HostRegexp(`${NPM_HOST_PATTERN}`)
      traefik.http.routers.nginx-proxy-manager-hosts.tls.certresolver: resolver
      traefik.http.routers.nginx-proxy-manager-hosts.tls.domains[0].main: dev.${HOST}
      traefik.http.routers.nginx-proxy-manager-hosts.tls.domains[0].sans: '*.dev.${HOST}'
      traefik.http.routers.nginx-proxy-manager-hosts.service: nginx-proxy-manager-hosts
      traefik.http.services.nginx-proxy-manager-hosts.loadbalancer.server.port: 80
volumes:
  workspaces:
    driver_opts:
      type: 'nfs'
      o: 'addr=${NFS_HOST},nolock,soft,nfsvers=4'
      device: ':/mnt/turbo/workspaces'
secrets:
  code_sudo_password:
    file: ../.secrets/code_sudo_password
