name: syncthing
services:
  syncthing:
    image: lscr.io/linuxserver/syncthing:v2.0.14-ls208@sha256:3596eec7b5ee71257aaff2658c805858de0a80244e3d69c1ef8ff260aa09c518
    container_name: syncthing
    volumes:
      - ${DATA_DIR}/syncthing:/config
      - ${DATA_DIR}/code:/code
    environment:
      - PUID
      - PGID
      - TZ
    ports:
      - '0.0.0.0:21027:21027/udp'
      - '0.0.0.0:22000:22000/tcp'
      - '0.0.0.0:22000:22000/udp'
    restart: unless-stopped
    labels:
      readme.description: Free and open source peer-to-peer file synchronization
      readme.links.web: https://syncthing.net/
      traefik.enable: true
      traefik.http.routers.syncthing.entrypoints: https
      traefik.http.routers.syncthing.rule: Host(`syncthing.${HOST}`)
      traefik.http.routers.syncthing.tls.certresolver: resolver
      traefik.http.services.syncthing.loadbalancer.server.port: 8384
    hostname: ${HOST}
